body {
  margin: 0;

    font-family: 'Lora', serif;
    background-color: white;
    color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
